{% extends "html5.html" %}

{% block title %}NutRobber{% endblock %}
{% block header %}
<link href="css/index.css" type="text/css" rel="stylesheet"/>
{% endblock %}
{% block body %}
<body>
<div id="debug" class="debug"></div>
<div>Hello, <span id="username">{{username}}</span>, use arrow key to move yourself!</div>
<div>
	Starting Position: <span id="startPos"></span>
	<br>
	Current Position: <span id="curPos"></span> 
</div>
<div id="map_canvas" style="width:100%; height:500px"></div>
<div>Click <a href="{{signout}}">here</a> to sign out.</div>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?v=3&sensor=false"></script>
<script type="text/javascript" src="js/nutrobber.js">

</script>
</body>
{% endblock %}
